



__pycache__*/
.venv*/
hi/data*/
hi/video-data
hi/figures*/
hi/polygons*/
hi/casevideos*/
hi/scan_output*/
hi/reduced_video_data*/
hi/segnet_output*/


Dockerfile
get-docker.sh
my-image.tar.gz

graveyard*/


test_get_masked_image*/
run_test_get_masked_image.sh
test_get_masked_image.yaml

k8helloworld*/
k8helloworld.sh